
 
 * {
     margin: 0;
     padding: 0;
 }

 
 

 .product-container  {
border: #c92b5a solid 3px;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
 }

 .product-container img {

    width: 80%;
    
 }

 .product-description-container{

    margin-top: 60px
 }

 .product-description-container h2{
     margin-bottom: 20px;
     color: #c92b5a;
     margin-left: 80px;
 }

 .product-description-container p {
   
    margin-bottom: 20px;
    margin-left: 30px;
 }
 
 .product-description-container span {
background-color: #c92b5a;
color: #fff;

    font-weight: bolder;
 }