/* responsive for home page */


@media only screen and (max-width: 1020px) {
    
    
    .nav-container .nav-list ul  li {
   
        display: flex;
        flex-direction: column;
        margin: 20px;
       
    }
    .parfum1-container,
.parfum2-container,
.parfum3-container,
.parfum4-container{
    border: solid 3px rgb(182, 13, 83);
    
    width: 70%;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
 
}

}

@media only screen and (max-width: 900px) {
    
    
    .nav-container .nav-list ul  li {
   
        display: flex;
        flex-direction: column;
        margin: 20px;
       
    }
  

}